@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./img/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    font-family: 'Montserrat', sans-serif;
}

.header h1 {
    color: #fff;
    font-size: 42px;
    padding-bottom: 20px;
}

h2 {
    padding: 20px 0 10px 0;
}

.counter-section {
    padding: 25px;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 20px;
}

button,
input {
    border: none;
    outline: none;
    background: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.btn-block {
    display: flex;
}

.radio-block {
    flex: 1;
}

.radio-block input[type=radio] {
    display: none;
}

.radio-block label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 15px;
    line-height: 34px;
    border: 1px solid #ffa500;
    user-select: none;
    transition: .4s ease;
}

.radio-block input[type=radio]:checked + label {
	background: #ff7b00;
    color: #fff;
}

.radio-block label:hover {
    color: #fff;
    background-color: #ffa500;
    transition: .4s ease;
}

.proportions-container {
    display: flex;
}

.proportions-block {
    width: calc(100%/3);
    text-align: center;
}

.proportions-block input{
    text-align: center;
    padding: 5px;
    max-width: 45px;
    border: 2px solid #000;
    border-radius: 3px;
    font-weight: 600;
}

.h2-span {
    font-weight: 300;
    font-size: 16px;
    padding-left: 3px;
}

.activity {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.activity input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
    padding: 10px;
}

.activity label {
    font-weight: 700;
	cursor: pointer;
	line-height: 18px;
	user-select: none;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #ffa500;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    transition: .1s ease;
}

.submit-btn:active {
    background-color: #ff7b00;
    transition: .1s ease;
}

.result-section {
    padding: 25px;
    background-color: #fff;
    border-radius: 15px;
}

.h2-orange {
    color: #ffa500;
    font-size: 26px;
    padding: 0;
    padding-bottom: 25px;
}

.result-block {
    display: flex;
}

.result-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
}

.h5-item {
    font-size: 16px;
    font-weight: 800;
    padding-bottom: 5px;
}

.p-item {
    font-size: 14px;
}

.hide {
    display: none;
}